.main{
  background-color: #5dade2;
  display:flex;
  flex-direction: row;
}
.profile img{
    border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 5px 5px 3px #ddd;
  height: auto;
  width:200px;
  display:block;
    margin-left: auto;
    margin-right: auto;
}
h2{
  font-size: 20px;
}
.profile{
background-color:#fff;
font-size:20px;
padding:1%;
width:30%;
margin:2%;
text-align: center;
}
.contact{
  background-color: #fff;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size:15px;
}
.content{
  padding: 1%;
  background-color: grey;
  margin:2%;
  width:70%;
}
@media screen and (max-width:480px){
  .main{
    background-color:#cd5c5c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    .profile img{
      border-radius: 50%;
      border: 1px solid #000;
      box-shadow: 5px 5px 3px #ddd;
      height: auto;
      width:200px;
      display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .profile{
    background-color:#fff;
    font-size:30px;
    padding:1%;
    width:30%;
    margin:2%;
    text-align: center;
    }
    h5
    {
      font-size: 20px;
    }

.contact{
  background-color: #fff;
  display:flex;
  flex-direction: column;
}

.content{
  padding: 1%;
  background-color: grey;
  margin:2%;
  width:70%;
}
@media screen and (min-width:481px)(max-width:768px){
  .main{
  background-color:#5dade2;
  display: flex;
  flex-direction: column;
}

.profile img{
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 5px 5px 3px #ddd;
  height: auto;
  width:200px;
  display:block;
    margin-left: auto;
    margin-right: auto;
}
.profile{
background-color:#fff;
font-size:30px;
padding:1%;
width:100px;
margin:2%;
text-align: center;
}
.contact{
  background-color:#fff;
  display:flex;
  flex-direction: column;
}
.content{
  padding: 1%;
  background-color: grey;
  width:70%;
}
}
